*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}
body{
    background-color: rgb(162, 147, 128);
}
h1{
    background-color: coral;
    color: #fff;
    text-align: center;
    height: 80px;
    line-height: 80px;
}
h1:hover{
    background-color: rgb(32, 32, 85);
}
.container{
    width: 70%;
    height: 200px;
    background-color: crimson;
    margin: 30px auto;
    background-image: url(https://img.freepik.com/free-photo/sunset-silhouettes-trees-mountains-generative-ai_169016-29371.jpg);
    background-size: cover;

}
button{
    width: 30%;
    height: 50px;
    background-color: darkgreen;
    color: white;
    font-weight: bold;
    margin-left: 30%; 
    border-radius: 10px;
}
button:hover{
    background-color: crimson;
}